.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 152px 1fr 70px;
    grid-template-columns: 0px 1fr;
    grid-template-areas:"header  header"
                        "content content"
                        "footer footer";
    background-color: #f3f3f3;
    /* color: black; */
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    overflow:hidden;
}

.header {
    grid-area: header;
    background-color: #f3f3f3;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
    border-bottom: 1px solid #D5D5D5;
    z-index:20;
}

.c4i-header-logo img{
    display: block;
    padding: 3px 0px 0px 0px;  
    margin-left: auto;
    margin-right: auto;
}

.content {
    grid-area: content;
    margin:0;
    padding: 10px 40px 10px 40px;
    overflow: hidden;
    background-color: #f3f3f3;
    color:black;
    letter-spacing: 0.0075em;
    overflow-y: scroll;
    font-size: 13px;
    line-height: 1.6em;
    font-weight: normal;
    text-align: justify;
}

.mainComponent {
    background-color: white;
    max-width: 1140px;
    margin-left: auto;
    margin-right:auto;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.markdown{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
}

.footer {
    grid-area: footer;
    color:black;
    box-shadow: 0px -2px 4px -1px rgba(0,0,0,0.2),0px -4px 5px 0px rgba(0,0,0,0.14),0px -1px 10px 0px rgba(0,0,0,0.12);
    letter-spacing: 0.0075em;
    z-index:20;
    font-size: 13px;
    line-height: 15px;
    width: 100%;
    height: 100%;
    display: grid;
    /* grid-template-columns: 150px 1fr; */
    grid-template-areas:"c4i-footer-euflag c4i-footer-text";
    margin:auto;
    margin-bottom:0px;
}

.c4i-footer-euflag {
    grid-area: c4i-footer-euflag;
    height: 40px;
    margin: 10px 20px 0px 20px;
    justify-self: end;
}
.c4i-footer-text {
    grid-area: c4i-footer-text;
    padding: 20px 20px 0px 5px;
    vertical-align: middle;
}

.error-view {
    position:absolute;
    z-index: 10000;
    margin: 50px;
    width: 90%;
    background-color:#FFBABA;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #d38080;
}

.form-inline {
    padding-bottom: 10px;
    padding-top:10px;
}

.navbar-light .navbar-toggler {
    margin-top:-8px;
}