
.navbar {
  padding: 0.5rem 1rem 0rem 1rem !important;
}

.form-inline .form-control {
  width: 200px !important;
  height: 25px;
  margin-top: -10px;
}

.input-group-text {
  height: 25px;
  margin-top: -10px;
  background-color: #009CA8 !important;
  border:1px solid #009CA8 !important;
}

.navbar-wrapper {
  position: relative;
}

.navbar-static-top {
  position: relative;
  background-color: #01689B;
  border-bottom: 0 solid #CCE0F1;
  margin-top: 10px;
  padding: 0 0 0 25px;
  border-bottom-width: 5px;
  box-shadow: 0px -2px 2px 0px #3338;
}

.navbar-static-top a.active {
    color: black;
    background-color: #CCE0F1;
}

.navbar img.logo {
  margin: 0 0.3rem 0.4rem;
  width: 4rem;
}

.nav-brand-text{
  color: #31708f;
}

.nav-link{
  display:flex;
  overflow:hidden;
}

.nav-link span{
  padding:3px;

}
.nav{
  overflow:hidden;
}

.navbar-static-top li > a {
  padding:6px 10px 6px 10px;
  color:white;
  font-size: 16px;
  font-weight: 600;
  font-family: Sans, Arial, sans-serif;
}

.navbar-static-top li > a:hover{
  background-color:#CCE0F1;
  color:#009CA8;
 }

.c4i-header {
  height: 93px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.c4i-header-text {
  display: inline-block;
  padding-left: 50px;
  font-style: italic;
  letter-spacing: 1px;
  color: #0c3762;
  font-size: 24px;
  font-weight: 500;
}
.c4i-header-logo {
  display: inline-block;
  padding: 3px 0px 2px 50px;
  vertical-align: middle;
}